<% include partials/header %>


    <h1><i class="fa fa-user" aria-hidden="true"></i> <%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>This is about us page. Read on...</p>

<% include partials/footer %>