<% include partials/header %>

    <div class="row">
        <h1><%= objectArray.name %></h1>
        <img class="img-rounded thumbnail" src="<%=objectArray.img %>"/>
    </div>




<% include partials/footer %>

<!--Be nice-->