<% include partials/header %>



    <div class="container">
            <div class="text-center">
                <h2>Here you can add new camping site to the list</h2>
            </div>

                <form method="post" action="/campgrounds">
                    <div class="form-group">
                        <input required placeholder="camp name" class="form-control" type="text" name="campname"/>
                    </div>

                    <div class="form-group">

                        <textarea required placeholder="camp description" class="form-control" type="text" name="campdesc"></textarea>
                    </div>

                    <div class="form-group">
                        <input required type="url" placeholder="camp image url" class="form-control" name="campimg"/>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default btn-primary btn-block" type="submit">Send</button>
                    </div>
                </form>
    </div>

<% include partials/footer %>