<% include partials/header %>

<div class="row">
    <h1 class="campgroundDetailHeader"><%= objectArray.name %></h1>
    <img class="img-rounded thumbnail" src="<%= objectArray.img %>"/>
</div>
<div class="row">
    <div class="container">
        <p class="textTypo"><%= objectArray.description %></p>
    </div>

</div>
<div class="container">
    <a class="btn btn-default btn-block btn-primary" href="/campgrounds">Back to the list</a>
</div>


<% include partials/footer %>

