<% include partials/header %>


    <h1><%= title %></h1>

    <form>
        <input type="text" name=""/>
        <input type="text" name=""/>
        <input type="text" name=""/>
        <button type="submit">Send</button>
    </form>

<% include partials/footer %>