<% //include partials/header  %>

    <h1><i class="fa fa-exclamation-triangle fa-5x"></i></h1>
    <h1><div class="errorMessage"><%= message %></div></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<% //include partials/footer  %>
